/* file: css/auth.css */

/* --- 1. VARIABLES & BASE --- */
/* (from common.css) */
:root {
    --dlsu-green: #387C44;  --dlsu-accent: #4CD137;
    --white: #fff;          --dark: #2d3436;
    --bg-color: #f0f2f5;    --light-grey: #D9D9D9;
    --dark-grey: #969090;
}

body {
    margin: 0; 
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-image: /* added gradient to bg-image */
        linear-gradient(to bottom, rgba(150, 144, 144, 0.4), rgba(17, 20, 21, 0.7)),
        url("../assets/auth-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #495057; 
    line-height: 1.6;
}

/* =========================================
   1. LAYOUT
   ========================================= */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.auth-form {
    width: 400px;
    background-color: var(--light-grey);
    padding: 90px 60px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.left-container .auth-form {
    left: 200px;
}

.right-container .auth-form {
    right: 200px;
}

/* =========================================
   2a. HEADER TEXT ELEMENTS
   ========================================= */


   
/* =========================================
   2b. AUTH FORM ELEMENTS
   ========================================= */

.auth-form h1 {
    font-weight: normal;
    font-size: 2.3rem;
    align-self: center;
    margin-top: 0;
    margin-bottom: 45px;
    color: var(--dark);
    place-self: center;
}

.auth-form hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid var(--dark-grey);
}

.auth-form p {
    align-self: center;
    margin-top: 20px;
    color: var(--dark);
    place-self: center;
}

/* =========================================
   3. INPUTS
   ========================================= */
/* base input styling */
input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.input-wrapper {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper i {
    position: absolute;
    left: 20px;
    color: var(--dlsu-green);
}

.input-wrapper input {
    padding-left: 60px;
}

input[type=checkbox] {
    width: 1.15em;
    height: 1.15em;
    margin-left: 18.15px;
    margin-right: 25.15px;
}

input[type=submit] {
    margin-top: 30px;
    background-color: var(--dlsu-green);
    color: white;
    border: none;
    cursor: pointer;
}