/* file: css/auth.css */

/* --- 1. VARIABLES & BASE --- */
/* (from common.css) */
:root {
    --dlsu-green: #387C44;  --dlsu-accent: #3FED87;
    --white: #fff;          --dark: #2d3436;
    --bg-color: #f0f2f5;    --light-grey: #D9D9D9;
    --dark-grey: #969090;   --dlsu-green-light: #4CD137;
}

body {
    margin: 0; 
    min-height: 100vh;
    overflow: hidden; /* prevents bg to scroll*/
    background-image: /* added gradient to bg-image */
        linear-gradient(to bottom, rgba(150, 144, 144, 0.4), rgba(17, 20, 21, 0.7)),
        url("../assets/auth-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #495057; 
    line-height: 1.6;
}

/* =========================================
   1. LAYOUT
   ========================================= */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    view-transition-name: auth-container;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    gap: 10px;
    view-transition-name: header-text-content;
}


.auth-form {
    width: 400px;
    background-color: var(--light-grey);
    padding: 20px 60px 20px 60px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    view-transition-name: auth-form-content;
}

.left-container{
    padding-left: 150px;
    text-align: left;
}

.right-container{
    padding-right: 200px;
    text-align: right;
}

/* =========================================
   2a. HEADER TEXT ELEMENTS
   ========================================= */

.header-text h1 {
    margin: 0;
    font-size: 55px;
    line-height: 0.9;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
}

.accent {
    color: var(--dlsu-accent);
}

.subtext {
    font-size: 20px;
    font-weight: 70;
    color: var(--white);
    margin: 0;
    line-height: 1.2;
}



/* =========================================
   2b. AUTH FORM ELEMENTS
   ========================================= */

.auth-form h2 {
    font-weight: normal;
    font-size: 2.5rem;
    align-self: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--dark);
    place-self: center;
}

.auth-form hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid var(--dark-grey);
}

.auth-form p {
    align-self: center;
    margin-bottom: 30px;
    color: var(--dark);
    place-self: center;
}

/* =========================================
   3. INPUTS
   ========================================= */
/* base input styling */
input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.input-wrapper {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper i {
    position: absolute;
    left: 20px;
    color: var(--dlsu-green);
}

.input-wrapper input {
    padding-left: 60px;
}

input[type=checkbox] {
    width: 1.15em;
    height: 1.15em;
    margin-left: 1.1em;
}

.name-field {
    display: flex;
    gap: 10px;
    width: 100%;
}

.name-field input {
    flex: 1;
}

/* submit button and hyperlinks states *****************/
input[type=submit] {
    margin-top: 30px;
    background-color: var(--dlsu-green);
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--dlsu-green-light);
    box-shadow: 0 4px 10px rgba(76, 209, 55, 0.4);
    transform: scale(1.03);

    transition: all 0.3s ease;
}

a { /* hyperlinks */
    color: var(--dlsu-green);
    text-decoration: none;
}

a:hover {
    color: var(--dlsu-green-light);
    text-decoration: underline;
}

/* =========================================
   4. DROPDOWN ELEMENTS & LABELS
   ========================================= */

#type { 
    width: 70%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: var(--dark);
}

#type option {
    color: var(--dark-grey);
    background-color: white;
}

label[for="type"] {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 18.15px;
}

label[for="remember"] {
    margin-right: 235px;
    color: var(--dark);
}


/* =========================================
   5. INBETWEEN AUTH TRANSITION
   ========================================= */

@view-transition {
    navigation: auto;
}

/* container morphs smoothly */
::view-transition-old(auth-container),
::view-transition-new(auth-container) {
    animation-duration: 1s;
}

/* content fades out quickly, then fades in */
::view-transition-old(auth-form-content),
::view-transition-old(header-text-content) {
    animation: fadeOutContent 0.4s ease-out forwards;
}

::view-transition-new(auth-form-content),
::view-transition-new(header-text-content) {
    animation: fadeInContent 0.2s 0.1s ease-in forwards;
    opacity: 0;
}

@keyframes fadeOutContent {
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

