<aside class="admin-sidebar role-hidden">
    <h2 class="sidebar-brand">ArcherLabs</h2>
    <nav class="sidebar-nav">
        <a href="/admin-dashboard#overview" class="sidebar-link">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>

        <a href="/view-lab" class="sidebar-link">
            <i class="fa-solid fa-person-walking"></i>
            <span>Walk-ins</span>
        </a>

        <a href="/profile" class="sidebar-link">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>

        <a href="/login" class="sidebar-link logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </nav>
</aside>
