<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            <span>ArcherLabs</span>
        </a>

        <ul class="nav-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li id="nav-profile"><a href="/profile" class="nav-link">Profile</a></li>
            <li><a href="/view-lab" class="nav-link">Reserve a Lab</a></li>
            <li id="nav-admin"><a href="/admin-dashboard" class="nav-link">Admin-dashboard</a></li>
        </ul>

        <div class="nav-user-area">
            <a href="/login" id="btn-login-nav" class="btn-primary" style="display: none;">Login</a>
            <a href="#" id="btn-logout-nav" class="btn-login-nav" style="background: transparent; color: white; border: 1px solid white;">Logout</a>
        </div>
    </div>
</nav>